<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Pagina de inicio</title>
</head>

<body>
		<div">
			<ul>
                <li>
                    <a href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="/listUsuarios">Ver lista de usuarios</a>
                </li>
                <li>
                    <a href="/listMaterias">Ver lista de materias</a>
                </li>
                <li>
                    <a href="/listCEscolares">Ver lista de centros escolares</a>
                </li>
            </ul>
		</div>
</body>

</html>